[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dotenv = "*"
psycopg = "*"
psycopg-binary = "*"
asgiref = "*"
click = "*"
cotton-icons = "*"
django = "*"
django-click = "*"
django-cotton = "*"
django-cotton-ui = "*"
django-tailwind-cli = "*"
semver = "*"
sqlparse = "*"
tzdata = "*"

[dev-packages]

[requires]
python_version = "3.13"
