asgiref==3.8.1
backports.zoneinfo==0.2.1
certifi==2024.12.14
click==8.1.8
cotton-icons==0.2.0
Django==4.2.30
django-click==2.4.1
django-cotton==2.7.2
django-cotton-ui==0.3.3
django-typer==2.2.2
django_tailwind_cli==2.15.0
dotenv==0.9.9
psycopg==3.2.13
psycopg-binary==3.2.13
python-dotenv==1.0.1
semver==3.0.4
shellingham==1.5.4
sqlparse==0.5.5
typer-slim==0.12.5
typing_extensions==4.13.2
tzdata==2026.4
