{% load static %}
<c-layout>
  <c-slot name="banner">
    <div class="background-image w-full bg-cover bg-center min-h-75 flex flex-col p-8 items-start justify-end text-white" style="background-image: url('{% static "images/homebase-bg.png" %}');">
      <h1 class="text-4xl font-bold mb-4">Welcome to HomeBase</h1>
      <p class="text-lg mb-6">Your one-stop platform for community engagement and collaboration.</p>
    </div>
    <div class="flex justify-between align-center p-4 bg-gray-100">
        <div class="flex gap-2 items-center">
            <h1 class="text-[#0F766E] text-2xl font-bold">88</h1>
            <p class="text-lg">Active Users</p>
        </div>
        <div class=" flex gap-2 items-center">
            <h1 class="text-[#0F766E] text-2xl font-bold">80</h1>
            <p class="text-lg">Accupied Units</p>
        </div>
        <div class="flex gap-2 items-center">
            <h1 class="text-[#0F766E] text-2xl font-bold">3</h1>
            <p class="text-lg">Upcoming Events</p>
        </div>
    </div>
  </c-slot>
  <div class="flex gap-2">
    <div x-data="{ activeTab: 'feed' }">
      <div class="flex gap-2" >
        <c-ui.button :style="activeTab === 'feed' ? 'background-color:var(--content-primary-color)' : 'background-color:var(--content-secondary-color)'" class="cursor-pointer" @click="activeTab = 'feed'" size="md">Feed</c-ui.button>
        <c-ui.button :style="activeTab === 'events' ? 'background-color:var(--content-primary-color)' : 'background-color:var(--content-secondary-color)'" class="cursor-pointer" @click="activeTab = 'events'" size="md">Events</c-ui.button>
        <c-ui.button :style="activeTab === 'announcements' ? 'background-color:var(--content-primary-color)' : 'background-color:var(--content-secondary-color)'" class="cursor-pointer" @click="activeTab = 'announcements'" size="md">Announcements</c-ui.button>
      </div>
      <br>
      <div>
        <div x-show="activeTab === 'feed'" class="w-full">
          <c-ui.card>
            <h2 class="text-xl font-bold mb-4">Feed</h2>
            <p>Here is the feed content...</p>
          </c-ui.card>
      </div>
        <div x-show="activeTab === 'events'" class="w-full">
          <c-ui.card>
            <h2 class="text-xl font-bold mb-4">Events</h2>
            <p>Here is the events content...</p>
          </c-ui.card>
        </div>
      </div>
    </div>
  </div>
</c-layout>
