<c-layout>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-2">
        <div class="col-span-1 flex flex-row items-center justify-center gap-4">
            <c-ui.card class="p-4" style="width: 100%; background-color: var(--color-primary); color: #ffffff;">
                <p class="text-lg font-semibold mb-2">Create a New Post</p>
                <hr class="border-gray-300 mb-4">
                <p class="text-sm mb-4">Start sharing your thoughts and ideas with the community by creating a new post.</p>
                <c-ui.button label="Create Post" href="/create-post" class="w-full" >Create Post</c-ui.button>   
            </c-ui.card>
        </div>
    <div class="col-span-2">
        <div class="flex flex-row gap-4">
            <c-ui.card class="p-4 flex-1">
                <p class="text-lg font-semibold mb-2">Something I want to share..</p>
                <p class="text-sm">I have been living in this community for a while now and I wanted to share my experiences.</p>
                
            </c-ui.card>
        </div>
    </div>
    <div class="col-span-1">
        <h2>25</h2>
        <p>Available</p>
    </div>
</div>
</c-layout>