<c-vars 
    brand="HomeBase" 
    is-logged-in=user.is_authenticated 
    username="user.username" 
    avatar-url="user.avatar_url" 
/>

<c-ui.navbar>

    <!-- Brand -->
    <c-slot name="brand">
        <svg xmlns="http://www.w3.org/2000/svg" class="size-6 text-accent" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M16 12v2a2 2 0 0 1-2 2H9a1 1 0 0 0-1 1v3a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V10a2 2 0 0 0-2-2h0"/><path d="M4 16a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v3a1 1 0 0 1-1 1h-5a2 2 0 0 0-2 2v2"/></svg>
        <span class="font-bold">Homebase</span>
    </c-slot>

    <!-- Search bar -->
    {%if page != 'register' and page != 'login' %}
    <div class="appbar-search">
        <c-search-bar />
    </div>
    {% endif %}
    
    <!-- Actions -->
    {% if user.is_authenticated %}
    <c-slot name="actions">
        <c-ui.dropdown position="bottom" size="sm">
            <c-slot name="trigger">
                <div class="flex items-center gap-2 cursor-pointer">
                    <c-ui.avatar size="sm" ></c-ui.avatar>
                    <span class="text-sm font-medium">{{ username }}</span>
                </div>
            </c-slot>
            <c-ui.dropdown.item href="/profile" size="sm">Profile</c-ui.dropdown.item>
            <c-ui.dropdown.item href="/settings" size="sm">Settings</c-ui.dropdown.item>
        </c-ui.dropdown>
        <form method="POST" action="/auth/logout/">
            {% csrf_token %}
            <c-ui.button type="submit" size="sm" variant="primary">Logout</c-ui.button>
        </form>
    </c-slot>
    {% else %}
    <c-slot name="actions">
        <c-ui.button href="/login" size="sm">Sign in</c-ui.button>
        <c-ui.button href="/register" size="sm" variant="primary">Sign up</c-ui.button>
    </c-slot>
    {% endif %}


</c-ui.navbar>