<c-vars
    title=""
    img-url=""
    content=""
    author=""
/>

<c-ui.card class="p-4 flex-1">
    <div class="flex flex-row items-center gap-2 mb-4">
        <c-ui.avatar size="sm"></c-ui.avatar>
        <span class="text-sm font-semibold">{{ author }}</span>
    </div>
    <div>
        {% if img_url %}
            <img src="{{ img_url }}" alt="Post Image" class="w-full h-auto mb-4 rounded">
        {% endif %}
    </div>
    <p class="text-lg font-semibold mb-2">{{ title }}</p>
    <p class="text-sm">{{ content }}</p>
    <div class="mt-4 flex flex-row gap-2">
        <div x-data="{ liked: false }" class="flex flex-row gap-2">
            <span x-show="liked">
            <c-ui.button @click="liked = !liked" label="Like" class="rounded-full" ><c-tablericon.heart variant="filled" class="size-5" /></c-ui.button>
            </span>
            <span x-show="!liked">
            <c-ui.button @click="liked = !liked" class="rounded-full" ><c-tablericon.heart  class="size-5" /></c-ui.button>
            </span>
        </div>
        <c-ui.button label="Comment" href="/comment" class="rounded-full" ><c-tablericon.message-circle class="size-5" /></c-ui.button>
        <c-ui.button label="Share" href="/share" class="rounded-full" ><c-tablericon.share-3 class="size-5" /></c-ui.button>
    </div>
</c-ui.card>